/* Split the screen in half */
.split {
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
}

/* Control the left side */
.left {
	left: 0;
	background-color: rgb(0, 9, 52);
}

/* Control the right side */
.right {
	right: 0;
	background-color: rgb(255, 243, 209);
}

.photo {
	height: 22vw;
	width: 22vw;
}

.about {
	background-color: rgb(255, 243, 209);
}

.em_box {
	background-color: rgb(255, 243, 209);
}

.para {
	font-family: 'Courier New', Courier, monospace;
}

h1,
h2 {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.wee {
	border-color: blue;
}

.paper_text {
	font-family: 'Courier New', Courier, monospace;
}

@media only screen and (min-width: 1200px) and (max-width: 1920px) {

	/* Large desktop */
	.about {
		height: 22vw;
		max-width: 25vw;
	}

	.para {
		font-size: 1vw;
	}

	.em_box {
		max-width: 27vw;
		margin-top: 10vw;

	}

	.linked {
		padding: 10vh;
	}
}

@media only screen and (min-width: 992px) {

	/* Large devices (laptops/desktops, 992px and up) */
	.about {
		height: 22vw;
		max-width: 25vw;
	}

	.para {
		font-size: 1.1vw;
	}

	.em_box {
		max-width: 27vw;
		margin-top: 10vw;
	}

	.linked {
		padding: 10vh;
	}


}

@media only screen and (max-width: 767px) {

	/* phone vertical */
	.about {
		height: 60vw;
		max-width: 45vw;
	}

	.para {
		font-size: 2.4vw;
	}

	.photo {
		height: 35vw;
		width: 35vw;
	}

	.em_box {
		max-width: 45vw;
		margin-top: 13vw;
	}

	.paper_text {
		font-size: 2.7vw;
	}
}

@media only screen and (min-width: 768px) and (max-width:991px) {

	/* landscape phones and tablets */
	.about {
		height: 45vw;
		max-width: 45vw;
	}

	.para {
		font-size: 2vw;
	}

	.em_box {
		margin-top: 15vw;
	}

	.paper_text {
		font-size: 2vw;
	}
}