/* Split the screen in half */
.split {
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
}

/* Control the left side */
.left {
	left: 0;
	background-color: rgb(0, 9, 52);
}

/* Control the right side */
.right {
	right: 0;
	background-color: rgb(255, 243, 209);
}

.photo {
	height: 22vw;
	width: 22vw;
}

.about {
	background-color: rgb(255, 243, 209);
	height: fit-content;
	max-height: 100vh;
	
}

.em_box {
	background-color: rgb(255, 243, 209);

}

.para {
	font-family: 'Courier New', Courier, monospace;
}

h1,
h2 {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.wee {
	border-color: blue;
}

.paper_text {
	font-family: 'Courier New', Courier, monospace;
	color: rgb(0, 9, 52);
}
.linked{
	padding: 2vh;
}

@media only screen and (min-width: 1200px){

	/* Large desktop */
	.about {
		max-width: 25vw;
	}

	.para {
		font-size: 1vw;
		
	}

	.em_box {
		max-width: 25vw;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

	/* Large devices (laptops/desktops, 992px and up) */
	.about {
		max-width: 25vw;	
	}

	.para {
		font-size: 1.1vw;
	}

	.em_box {
		max-width: 25vw;
	}
}

@media only screen and (max-width: 767px) {

	/* phone vertical */
	.about {
		max-width: 45vw;
	}

	.para {
		font-size: 2.28vw;
	}

	.photo {
		height: 35vw;
		width: 35vw;
	}

	.em_box {
		max-width: 45vw;
	}

	.paper_text {
		font-size: 2.7vw;
	}
}

@media only screen and (min-width: 768px) and (max-width:991px) {

	/* landscape phones and tablets */
	.about {
		max-width: 40vw;
	}
	.photo{
		width: 30vw;
		height: 30vw;
	}

	.para {
		font-size: 2vw;
	}

	.em_box {
		
		max-width: 40vw;
	}

	.paper_text {
		font-size: 2vw;
	}
}
