 
/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
/* Control the left side */
.left {
  left: 0;
  background-color: rgb(0, 9, 52);
}
/* Control the right side */
.right {
  right: 0;
  background-color: rgb(255, 243, 209);
}
.photo{
  height: 22vw;
  width: 22vw;
}
.about{
  background-color: rgb(255, 243, 209);
}
.em_box{
  background-color: rgb(255, 243, 209);
  margin-top: 100px;
}
.para{
  font-family: 'Courier New', Courier, monospace;
}
h1,h2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}
.wee{
  border-color: blue;
}
@media only screen and (min-width: 768px) {
 /* tablets and desktop */
  .about{
      height: 22vw;
      max-width: 25vw;
 }
  .para{
      font-size: 1vw;
 }
  .em_box{
      max-width: 27vw;
 }
  .linked{
      padding: 13vh;
 }
}
@media only screen and (max-width: 767px) {
 /* phone vertical */
  .about{
      height: 50vw;
      max-width: 45vw;
 }
  .para{
      font-size: 2vw;
 }
  .photo{
      height: 35vw;
      width: 35vw;
 }
  .em_box{
      max-width: 45vw;
 }
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
 /* portrait phones */
  .about{
      height: 45vw;
      max-width: 45vw;
 }
  .para{
      font-size: 2vw;
 }
}
